@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url(./components/NavigationBar.scss);
@import url(./components/Sidebar.scss);
@import url(./pages/MobileMenu.scss);
@import url(./pages/Authentication/ForgotPassword.scss);
@import url(./pages/Authentication/SignIn.scss);
@import url(./pages/Authentication/SignUp.scss);
@import url(./components/Message.scss);
@import url(./components/UserOptions.scss);
@import url(./pages/Home.scss);
@import url(./components/Loader.scss);
@import url(./pages/Dashboard.scss);
@import url(./components/Kanban.scss);
@import url(./components/TaskEditor.scss);
@import url(./pages/HeroBanner.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

@media all and (min-width: 1024px) {
  .App {
    display: flex;
  }
}
