@import "../../utils/variables";

.forgot-password-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(30, 33, 39, 0.5);
  width: 100vw;
  height: 100vh;
  .forgot-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 3rem 3rem 4rem 3rem;
    min-width: 290px;
    max-width: 95vw;
    max-height: 95vh;
    border-radius: 12px;
    overflow-y: auto;

    .close-btn {
      text-align: right;
      svg {
        cursor: pointer;
        font-size: 2.2rem;
        transition: opacity 0.2s;
        &:active {
          opacity: 0.3;
        }
      }
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .welcome-txt {
      font-size: 1.4rem;
      color: $dark-gray;
      display: inline-block;
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        width: 100%;

        input {
          border: 1px solid $dark-gray;
          border-radius: 8px;
          padding: 1rem;
          font-size: 1.4rem;
          margin-top: 0.5rem;
          outline: none;
        }
      }

      button {
        border: none;
        outline: none;
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 8px;
        font-size: 1.6rem;
        transition: background-color 0.2s;
        cursor: pointer;
        color: #fff;
        background-color: $blue;
        margin: 2rem 0;
        &:hover {
          background-color: $blue-hover;
        }
      }
    }

    .back {
      display: flex;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s;

      svg {
        font-size: 2rem;
        margin-right: 0.5rem;
        color: $dark-gray;
      }

      p {
        font-size: 1.4rem;
        color: $dark-gray;
      }

      &:active {
        svg {
          color: $gray;
        }

        p {
          color: $gray;
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .forgot-password-wrapper {
    .forgot-password {
      padding: 4rem 4rem 5rem 4rem;

      .close-btn {
        svg {
          &:hover {
            opacity: 0.3;
          }
        }
      }
      h2 {
        font-size: 2.8rem;
      }

      .welcome-txt {
        font-size: 1.6rem;
      }

      form {
        label {
          font-size: 1.6rem;
          input {
            font-size: 1.6rem;
          }
        }
      }
      .back {
        &:hover {
          svg {
            color: $gray;
          }

          p {
            color: $gray;
          }
        }
      }
    }
  }
}
