$black: #000;
$white: #fff;
$blue: #3458e4;
$blue-hover: #7c94f6;
$light-blue: #c1e1ec;
$light-blue-hover: #d5e3e7;
$gray: #f3f1ef;
$light-gray-blue: #eef1fb;
$dark-gray: #a9aeb6;
$light-gray-scroll: #f8fafc;
$red: #cf000f;
$red-hover: #ff7f7f;
$gold: #f0e130;
$gold-hover: #f3eb9a;
