@import "../utils/variables";

.dashboard {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70.4px);
  .dashboard-info {
    .options-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        padding: 1rem 2rem;

        svg {
          font-size: 2rem;
        }
        .star {
          margin-right: 2rem;
          color: $gold;
          transition: 0.2s;

          &:active {
            color: $gold-hover;
          }
        }
        .trash {
          color: $red;
          transition: 0.2s;

          &:active {
            color: $red-hover;
          }
        }
      }
    }
    .title-description-wrapper {
      padding: 1rem 2rem 2rem 2rem;
      .title {
        text-align: center;
        max-width: 100%;
        .emoji {
          font-size: 2rem;
        }
        textarea {
          font-size: 2rem;
          font-weight: 700;
          outline: none;
          border: none;
          resize: none;
          text-align: center;
          width: 100%;
        }
      }
      .description {
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        margin-top: 1rem;
        outline: none;
        border: none;
        min-width: 100%;
        height: auto;
        resize: none;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .dashboard {
    height: 100vh;
    width: 100%;

    .dashboard-info {
      .options-bar {
        .left {
          padding: 2rem;

          .trash {
            cursor: pointer;
            &:hover {
              color: $red-hover;
            }
          }
          .star {
            cursor: pointer;
            &:hover {
              color: $gold-hover;
            }
          }
        }
      }

      .title-description-wrapper {
        padding: 1rem 4rem 2rem 4rem;
        .title {
          text-align: left;
          .emoji {
            font-size: 2.4rem;
            cursor: pointer;
          }

          textarea {
            text-align: left;
            font-size: 2.4rem;
          }
        }
        .description {
          text-align: left;
        }
      }
    }
  }
}
