@import "../utils/variables";

.home {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;

  .first-dashboard-wrapper {
    text-align: center;
    p {
      font-size: 1.6rem;
      font-weight: 600;
      color: $blue;
      padding: 2rem;
    }

    .first-dashboard {
      border: 2px solid $blue;
      outline: none;
      padding: 1rem 2rem;
      border-radius: 8px;
      font-size: 1.6rem;
      cursor: pointer;
      color: $blue;
      font-weight: 600;
      margin: 2rem 0;
      background-color: $white;
      transition: 0.2s;

      &:active {
        color: $white;
        background-color: $blue;
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .home {
    .first-dashboard-wrapper {
      .first-dashboard {
        &:hover {
          color: $white;
          background-color: $blue;
        }
      }
    }
  }
}
