@import "../utils/variables";

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (min-width: 1024px) {
  .loader {
    left: calc(50% + 250px / 2);
  }
}
