@import "../utils/variables";

.sidebar {
  display: none;
}

@media all and (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 20vw;
    max-width: 250px;
    border-radius: 0 12px 12px 0;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
    .top-area {
      .logo {
        font-size: 2rem;
        font-weight: 700;
        padding: 4rem 2rem;
      }

      .favourites,
      .private {
        margin-bottom: 2rem;
        .header {
          background-color: $blue;
          border-radius: 12px;
          margin: 0 1rem;
          padding: 0.7rem 2rem;
          p {
            font-size: 1.6rem;
            color: $black;
            font-weight: 500;
            color: $white;
          }
        }
      }
      .private {
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          svg {
            color: #fff;
            font-size: 1.6rem;
            cursor: pointer;
          }
        }
      }
    }

    .user-options {
      background-color: $light-gray-blue;
      border-radius: 12px 12px 0 0;
      .user-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;

        .user {
          display: flex;
          align-items: center;

          svg {
            font-size: 1.6rem;
            color: $dark-gray;
          }

          p {
            font-size: 1.4rem;
            font-weight: 500;
            margin-left: 1rem;
          }
        }

        .signout-icon {
          position: relative;
          background-color: $blue;
          width: 32px;
          height: 32px;
          border-radius: 8px;
          transition: 0.2s;
          border: 2px solid $blue;
          cursor: pointer;

          &:hover {
            background-color: #fff;
            border: 2px solid $blue;

            svg {
              color: $blue;
            }
          }

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.6rem;
            color: #fff;
          }
        }
      }

      .sign-in,
      .sign-up {
        display: flex;
        align-items: center;
        padding: 2rem;

        svg,
        p {
          color: $blue;
          font-size: 1.6rem;
          font-weight: 700;
          cursor: pointer;
        }

        p {
          padding-left: 1rem;
        }
      }
    }
  }
}
