@import "../utils/variables";

.toast-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  width: 90vw;
  max-width: 450px;
  box-shadow: 8px 8px 24px -6px rgba(66, 68, 90, 1);
  z-index: 99;

  svg {
    min-width: 32px;
    min-height: 32px;
    font-size: 3rem;
    margin-right: 2rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media all and (min-width: 1024px) {
  .toast-notification {
    p {
      font-size: 1.6rem;
    }
  }
}
